- filtered_data.each do |data|
  - data.each do |key, information|
    %tr
      %td= information[:username]
      %td= information[:like_count]
      %td= information[:comment_count]
      %td
        %a{href: information[:link_to_post], target: "_blank"} Link
      %td= information[:creation_time]
      %td= information[:post_type]
      %td= image_tag information[:thumbnail], width: '100', height: '100'
      -# %td= button_tag "Save post data", id: 'save_to_db', data: information